<div class="d-flex row align-items-center ">
    <div class="row min-vh-100 w-100 " style="margin-top: -1px;background-color: #38220f;" >
        <app-bloco1></app-bloco1>

    </div>

    <div class=" row mx-auto "  style="background-color: #dbc1ac ;">
        <h1 class="p-5 pt-3 pb-3 " style="text-align: center;;background-color: #967259; ">Café</h1>
        <div class="col m-5   pt-0" >  
            <div style="margin-left: 50px;">
            <h3 class="d-flex justify-content-center pb-3">Historia</h3>
            <p class="d-flex justify-content-start">   
                Apelido adquirido na Unicamp (2017), durante a segunda semana de aula.<br>
                Adiquirido durante a aula, após eu aparecer na aula com o braço queimado com café,
                devido a um descuido na durante o café da manhã. <br> 
                O apelido acabou pegando e por não ser ofensivo
                acabei por gostar e aderir.
                
            </p>
        </div>
        </div>
        <div class="col m-5 pt-0" >
            <div style="margin-right: 50px;">
            <h3 class="d-flex justify-content-center pb-3">Uso</h3>
            <ul >
                <li>Grupo de amigos da Unicamp</li>
                <li>Discord</li>
                <li>Grupos de MTG</li>

            </ul>
            </div>
        </div>
    </div>

</div>