<div class="row d-flex justify-content-center" style="background: linear-gradient( 
100deg,
#323949 50%,
#4c5265 50%);height: 600px;margin-top: -1px;">
    <div class=" col d-flex justify-content-center text-white pt-5 h1 " style="text-align: center; height: 100px;margin-top: 100px;" ></div>
    <div  class=" col d-flex justify-content-center text-dark h2 pt-5  " style="margin-top: 100px;"> 
        <ul style="list-style-type: square;">
            <li><a href="projects/index" style="color: white; text-decoration: none;" >Café</a> </li>
        </ul>
    </div>
   

</div>

