<div class="row d-flex justify-content-around" style="background: linear-gradient( 
90deg,
#323949 50%,
#4c5265 50%);height: 600px;margin-top: -1px;">
        <div class="col-1 justify-content-center d-flex text-white  p-5 pl-0 " style="width: 50%;">
            <div >
                <h2 class="row mb-3 pb-4 justify-content-center">Sobre Mim</h2>
                <p class="row mt-2">
                    Nasci em 14 de maio de 1999, em Lins (interior de São Paulo), infelizmente 
                    não pude crescer na cidade pois mudamos antes em menos de 2 anos. Devido ao trabalho 
                    de meu pai, mudei de cidade a cada 2 anos, pude conhecer varias cidades do interior 
                    do estado. <br></p>
                <p class="row mt-2">
                    Nos estabelecemos em Piracicaba (SP) por volta de 2010, onde fiquei até 
                    concluir o ensino médio em 2016. Foi durante esse tempo que decidi que 
                    queria trabalhar com dados e programação. <br>
                </p>
                <p class="row mt-2">
                    Passei no mesmo ano em Estatistica na UNICAMP, fiz durante 3 anos e não conclui, aprendi
                    muito la, porem o curso não estava de acordo com as minhas vontades, em 2019 desisti do curso. <br>
                </p>
                <p class="row mt-2">
                    Em 2020 passei em sistemas de informação na USP São Carlos (SP) e planejo me formar
                    em dez/2023.
                </p>
            </div>
    </div>
    <div class="col-1 justify-content-center d-flex text-white  p-5 " style="width: 50%;">
        <div >
        <h3 class="row mb-3 pb-4 justify-content-center">Formação Academica</h3>
        <h5 class="row ">UNICAMP</h5>
        <ul>
            <li>Estatistica</li>
            <li>2017-2019</li>
            <li>Aprendi a lidar com dados, estatistica, probabilidade e calculo</li>
            <li>Logica de programação em C, Python e R</li>
        </ul>
        <h5 class="row ">USP</h5>
        <ul>
            <li>Bacharel em Sistemas de Informação</li>
            <li>2020-atual</li>
            <li>Aprendi sobre sistemas, empreendedorismo e tecnologia</li>
            <li>Logica em programação em JAVA, C</li>
        </ul>
        <h5 class="row ">Bootcamps</h5>
        <p class="m-0">IGTI:</p>
        <ul class="m-0">
            <li>Python</li>
            <li>Machine Learning</li>
        </ul>
        <p class="m-0">DIO/Santander:</p>
        <ul>
           <li>Fullstack web</li>
        </ul>
    </div>
</div>


</div>