<footer class="bg-dark" style="padding: 20px;">
    <script>
        if (document.querySelector('body').offsetHeight > window.innerHeight)
          document.querySelector('footer').classList.add('footer-relative');
      </script>
  
    <div class="bg-dark text-white">
        <div class="d-flex flex-column justify-content-between flex-md-row align-items-center">
            <div>
                <small class="text-white p-2">&copy;João Paulo Garcia Martinelli de Oliveira</small>
            </div>
            <div>
                <a class="btn " href="https://github.com/joaousp" target="_blank"><img src="/assets/img/github.png" style="max-width: 25px;"></a>
                <a class="btn " href="https://www.linkedin.com/in/jo%C3%A3o-paulo-garcia-martinelli-de-oliveira-57b479225/" target="_blank"><img src="/assets/img/linkedin.png" style="max-width: 25px;" ></a>
            </div>
        </div>
    </div>
</footer>