<div class="row d-flex justify-content-center" style="background: linear-gradient( 
100deg,
#323949 50%,
#4c5265 50%);height: 600px;margin-top: -1px;"> 
    <div class=" col d-flex justify-content-center text-white pt-5 h1 " style="text-align: center; height: 100px;margin-top: 100px;" ></div>
    <div  class=" col d-flex justify-content-center text-dark h2 pt-5  " style="margin-top: 100px;"> 
        <ul style="list-style-type: none;">
            <li>
                <a href="http://github.com/joaousp" target="_blank" style="text-decoration: none; color: white;">Github</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/jo%C3%A3o-paulo-garcia-martinelli-de-oliveira-57b479225/" target="_blank" style="text-decoration: none; color: white;">Linkedin</a>
            </li>
            <li style="color: white;">
                (19) 98405-9205
            </li>
            <li  style="color:white">
                joao.martinelli@outlook.com.br
            </li>
        </ul>
    </div>
     
</div>