<div class="d-flex flex-column flex-md-row align-items-center  border-bottom bg-dark">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none">
        <app-header></app-header>
    </a>
  
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto pr-2">
      <a class="me-3 py-2 text-white text-decoration-none" href="/aboutme">Sobre Mim</a>
      <a class="me-3 py-2 text-white text-decoration-none" href="/projects">Projetos</a>
      <a class="me-3 py-2 text-white text-decoration-none" href="/contacts">Contatos</a>
    </nav>
   
   
</div>